<div class="conecte-se">
      <img class="ba40542ba96fb2bb3e9fb1f554c3ca-icon1" alt="" src="assets/ba40542ba96fb2bb3e9fb1f554c3ca16-1@2x.png" />
      <div class="conecte-se-child" ></div>
      <div class="conecte-se-item" ></div>
      <div class="apple1">Apple</div>
      <div class="google1">Google</div>
      <div class="facebook1">Facebook</div>
      <div class="conecte-se1">Conecte-se</div>
      <div class="conecte-se-inner" ></div>
      <div class="conecte-se-child1" (click)="onRectangleClick()" ></div>
      <div class="conecte-se-child2" ></div>
      <div class="esqueci-minha-senha">Esqueci minha senha</div>
      <div class="ou1">OU</div>
      <div class="conecte-se-child3" ></div>
      <div class="conecte-se-child4" ></div>
      <div class="entre1">ENTRE</div>
      <div class="conecte-se-child5" (click)="onRectangleClick()" ></div>
      <div class="conecte-se-child6" (click)="onRectangleClick()" ></div>
      <div class="conecte-se-child7" (click)="onRectangleClick()" ></div>
      <div class="nome-de-usurioemail2">Nome de usuário/Email</div>
      <div class="senha2">Senha</div>
      <div class="precisa-de-ajuda1">Precisa de ajuda?</div>
      <img class="logo-shopping-online-laranja4" alt="" src="assets/logo-shopping-online-laranja-3-1@2x.png" />
      <img class="logo-shopping-online-laranja5" alt="" src="assets/logo-shopping-online-laranja-4-1@2x.png" />
      <img class="post-para-instagram-promoo-l1" alt="" src="assets/post-para-instagram-promoo-loja-de-eletrnicos-moderno-gradiente-azul-e-verde-3-1@2x.png" />
      <div class="siga-nos-para-mais1">Siga-nos para mais novidades e ofertas exclusivas!</div>
      <img class="deviconapple1" alt="" src="assets/deviconapple.svg" />
      <img class="conecte-se-child8" alt="" src="assets/group-1.svg" />
      <img class="flat-color-iconsgoogle1" alt="" src="assets/flatcoloriconsgoogle.svg" />
      <img class="logostiktok-icon1" alt="" src="assets/logostiktokicon.svg" />
      <img class="devicontwitter1" alt="" src="assets/devicontwitter.svg" />
      <div class="novo-na-conecta">Novo na Conecta Pedidos?</div>
      <div class="cadastrar3" (click)="onCadastrarTextClick()">Cadastrar</div>
      <img class="skill-iconsinstagram1" alt="" src="assets/skilliconsinstagram.svg" />
    </div>