<div class="cadastrar">
  <img class="ba40542ba96fb2bb3e9fb1f554c3ca-icon" alt="" src="assets/ba40542ba96fb2bb3e9fb1f554c3ca16-1@2x.png" />
  <div class="cadastrar-child"></div>
  <div class="cadastrar-item"></div>
  <div class="apple">Apple</div>
  <div class="google">Google</div>
  <div class="facebook">Facebook</div>
  <div class="cadastrar1">Cadastrar</div>
  <div class="cadastrar-inner"></div>
  <div class="rectangle-div" (click)="onRectangleClick()"></div>
  <div class="nome-de-usurioemail">Nome de usuário/Email</div>
  <input type="email" [(ngModel)]="email" placeholder="Digite seu email" class="input-email" />
  <div class="senha">Senha</div>
  <input type="password" [(ngModel)]="senha" placeholder="Digite sua senha" class="input-senha" />
  <div class="cadastrar2" (click)="onCadastrarClick()">Cadastrar</div>
</div>