<div class="incio">
      <div class="incio-child" ></div>
      <img class="logo-shopping-online-laranja2" alt="" src="assets/logo-shopping-online-laranja-3-1@2x.png" />
      <img class="logo-shopping-online-laranja3" alt="" src="assets/logo-shopping-online-laranja-4-1@2x.png" />
      <img class="group-icon1" alt="" src="assets/group.svg" />
      <div class="incio-item" ></div>
      <div class="buscar-na-conecta">Buscar na Conecta</div>
      <div class="incio-inner" ></div>
      <img class="material-symbolssearch-icon" alt="" src="assets/materialsymbolssearch.svg" />
      <div class="ellipse-div" ></div>
      <div class="eduardocl18">eduardocl18</div>
      <div class="idioma">Idioma</div>
      <img class="weuiarrow-outlined-icon" alt="" src="assets/weuiarrowoutlined@2x.png" />
      <div class="ajuda">Ajuda</div>
      <img class="mingcutequestion-line-icon" alt="" src="assets/mingcutequestionline.svg" />
      <div class="incio-child1" ></div>
      <div class="incio-child2" ></div>
      <img class="weuiarrow-filled-icon" alt="" src="assets/weuiarrowfilled.svg" />
      <img class="weuiarrow-filled-icon1" alt="" src="assets/weuiarrowfilled1.svg" />
      <div class="incio-child3" ></div>
      <img class="download-1-removebg-preview-icon" alt="" src="assets/download--1-removebgpreview-1@2x.png" />
      <img class="pngtree-airpods-pro-wireless-b-icon" alt="" src="assets/pngtreeairpodsprowirelessbluetoothearphonesfeaturingadvancednoisecancellingtechnologyforpngimage-13799793removebgpreview-1@2x.png" />
      <div class="incio-child4" ></div>
      <div class="compre-agora">Compre agora</div>
      <div class="a-sua-loja-container">
        <p class="a-sua-loja">                  A sua loja </p>
        <p class="a-sua-loja">             de </p>
        <p class="a-sua-loja">                    tecnologia </p>
        <p class="a-sua-loja">            chegou</p>
      </div>
      <div class="entregando-seu-pedido">*Entregando seu pedido de forma segura!</div>
      <img class="bxsup-arrow-icon" alt="" src="assets/bxsuparrow@2x.png" />
      <img class="fadheadphones-icon" alt="" src="assets/fadheadphones.svg" />
      <img class="fadmicrophone-icon" alt="" src="assets/fadmicrophone.svg" />
      <img class="mdihome-sound-in-outline-icon" alt="" src="assets/mdihomesoundinoutline.svg" />
      <img class="fluentheadphones-sound-wave-2-icon" alt="" src="assets/fluentheadphonessoundwave20regular.svg" />
      <img class="icon-park-outlinesound" alt="" src="assets/iconparkoutlinesound.svg" />
      <img class="mdismart-home-icon" alt="" src="assets/mdismarthome.svg" />
      <img class="mdiclock-outline-icon" alt="" src="assets/mdiclockoutline.svg" />
    </div>